# vs-code
.vscode/

aienv/
.env

# project
__pycache__/
app/gui/pytest.py

app/jarvis/pytest.py
app/jarvis/pytest2.py
app/jarvis/pytest3.py

app/gui/backup.py
app/gui/markup.html

data/audio/input/*
data/audio/output/*

# python venv
bin/
include/
lib/
lib64
pyvenv.cfg

